@import '../../../../../environments/variables';

.wrapper {
  color: rgb(51, 51, 51) !important;
  margin: 0;
  &-col {
    padding:0;
  }
}

.catalog-list-item-wrapper {
  //padding: 10px;
  margin: 0;
  .current-img-wrapper {
    width: 400px;
    img {
      width: 100%;
    }
  }
  .item-additional {
    width: 100px;
    height: 100px;
    border: 2px solid transparent;
    img {
      width: 100%;
    }
    &.is-active {
      border: 2px solid red;
    }
  }
}

.close {
  position: absolute;
  z-index: 1000;
  top: -5px;
  right: 5px;
  button {
    color: $boulder;
    border: none;
    background: transparent;
    &:hover {
      color: $black;
    }
    &:focus {
      outline: 0;
    }
  }
}

.mat-dialog-content {
  height: 80vh;
  max-height: 80vh;
  margin: 0;
  padding: 0;
}

.mat-dialog-container {
  color: inherit !important;
}

.header {
  font-size: 2em;
  font-weight: 500;
}
.header-xs {
  font-size: 1.6em;
  font-weight: 500;
  margin-top: 24px;
}
.attacments-wrapper {
  margin-top: 24px;
  text-align: left;
}
.attacment-item {
  font-size: 16px;
  font-weight: 100;
  padding: 24px 0 0;
  border-top: 1px solid #d6d6d6;
}

.header-text {
  font-size: 14px;
  margin-top: 12px;
  font-weight: 100;
  text-align: justify;
}

.button {
  font-size: 1em;
  padding: 8px 51px;
  background: #000189;
  color: white;
  font-weight: 100;
  background-color: #0067b9;
  background: -webkit-linear-gradient(#3d94d9,#0067b9);
  background: linear-gradient(#3d94d9,#0067b9);
  border-color: #006dbc;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline: 0;
  &-xs {
    padding: 8px 24px;
  }
}

.button:hover {
  background-color: rgba(0, 103, 185, 0.82);
  background: -webkit-linear-gradient(#3d94d9,rgba(0, 103, 185, 0.82));
  background: linear-gradient(#3d94d9, rgba(0, 103, 185, 0.82));
  border-color: #006dbc;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline: 0;
}

.price-wrapper {
  background-color: #fafafa;
  padding: 24px;
  text-align: left;
  margin-top: 36px;
}

.price-count {
  font-size: 36px;
  font-weight: 100;
}

.price-info {
  font-size: 12px;
  color: #7b7676;
  margin-top: 6px;
  font-weight: 100;
}

.price-number {

}

.help {
  margin-top: 36px;
  font-weight: 100;
}
.price-button{
  margin-top: 24px;
}