<un-preloader *ngIf="isStateLoading()"></un-preloader>
<mat-dialog-content>
    <div class="row center-xs wrapper" *ngIf="$Model | async as model">
        <div class="col-xs-12 wrapper-col">
            <div class="row catalog-list-item-wrapper">
                <div class="col-xs-12 col-md-7">
                    <div class="row">
                        <div class="current-img-wrapper col-xs-12">
                            <img [src]="currentImg?.img | safeImg">
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-5">
                    <div class="row">
                        <div class="col-xs-12 col-sm-11 start-xs header invisible-xs invisible-sm">
                            Купить {{model.name}}
                        </div>
                        <div class="col-xs-12 col-sm-11 start-xs header-xs invisible-md invisible-lg visible-xs visible-sm">
                            Купить {{model.name}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-11 header-text start-xs">
                            Доставка {{model.name}} на следующий рабочий день по Москве и близжайшему Подмосковье (при
                            наличии товара и заказе до 15:00).
                        </div>
                    </div>
                    <div class="attacments-wrapper attacment-item col-xs-12 col-sm-11"
                         *ngFor="let attachment of model.attachments">
                        <div class="row">
                            <div class="col-xs-10">
                                {{attachment.name}}
                            </div>
                            <div class="col-xs-2">
                                <mat-checkbox [checked]="true" [disabled]="true"></mat-checkbox>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12">
                            <div class="row">
                                <div class="col-xs-12 col-sm-11">
                                    <div class="price-wrapper">
                                        <div class="price-count">
                                            <span class="price-number">{{model.priceCurrent}}</span> руб.
                                        </div>
                                        <div class="price-info">Цена указана с учетом всех действующих скидок.</div>
                                        <div class="price-button">
                                            <button class="button invisible-xs invisible-sm" (click)="addToBusket()">Положить в корзину</button>
                                            <button class="button button-xs invisible-md invisible-lg visible-sm visible-xs" (click)="addToBusket()">В корзину</button>
                                        </div>
                                        <div class="price-info">Товар есть в наличии</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12">
                            <div class="row">
                                <div class="col-xs-12  col-sm-11 help">
                                    <div>Помощь при покупке.</div>
                                    <div>Позвоните по телефону +7-966-005-45-45.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions class="close">
    <button mat-dialog-close tabindex="-1">x</button>
</mat-dialog-actions>

