.busket-mini {
  height: 100%;
  &__empty {
    color: #888;
    font-size: 14px;
    margin: 0;
    text-align: center;
  }
  .busket-mini-icon {
    margin-top: 9px;
  }
   &__wrapper {
       position: relative;
     height:100%;
   }

    &__circle {
      border-radius: 6px;
      margin-top: -10.5px;
      margin-left: -2.5px;
      width: 6px;
      height: 6px;
      background: #6bf;
      position: absolute;
      top: 46%;
      left: 49%;
      z-index: 1;
    }

    &__button {
        font-size: 1em;
        padding: 8px 51px;
        background: #000189;
        color: white;
        background-color: #0067b9;
        background: -webkit-linear-gradient(#3d94d9,#0067b9);
        background: linear-gradient(#3d94d9,#0067b9);
        border-color: #006dbc;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        outline: 0;
    }

    &__button:hover {
        background-color: rgba(0, 103, 185, 0.82);
        background: -webkit-linear-gradient(#3d94d9,rgba(0, 103, 185, 0.82));
        background: linear-gradient(#3d94d9, rgba(0, 103, 185, 0.82));
        border-color: #006dbc;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        outline: 0;
    }

    .busket-tooltip {
        position: absolute;
        padding: 12px;
        width: 300px;
        box-sizing: border-box;
        left: -143px;
        top: 43px;
        background: white;
        z-index: 1000;
        border: 1px solid #d6d6d6;
    }

    .busket-tooltip:after {
        left: 50%;
        border: 0px solid #d6d6d6;
        content: "";
        display: block;
        position: absolute;
        top: -10px;
        width: 12px;
        height: 12px;
        transform: rotate(45deg);
        transform-origin: 0 0;
        z-index: 1;
        border-top-width: 1px;
        border-left-width: 1px;
        background: white;
    }
    &__img {
        width: 100%;
    }

    &__item {
        padding: 0px;
        padding-bottom: 12px;
        margin-bottom: 12px;
    }

    &__item:not(:last-of-type) {
        //border-bottom: 1px solid rgb(227, 227, 227)
    }

    &__name {
        text-align: left;
        //margin-top: 12px;
    }
}
.mat-menu-content {
    padding: 24px 24px!important;
}
.busket-mini__info:not(:last-of-type) {
  margin-bottom: 6px;
}


@media only screen and (max-width: 46rem) and (min-width: 0rem) {
  .blue-circle-xs {
   top: 17px;
  }
}