<div class="busket-mini__wrapper" *ngIf="$model|async as model ">
    <div mat-button [matMenuTriggerFor]="menu" class="busket-mini-icon">
        <svg-icon class="busket-mini__icon" type="busket"></svg-icon>
        <div class="busket-mini__circle blue-circle-xs" *ngIf="model.length"></div>
    </div>


    <mat-menu #menu="matMenu">
        <div *ngIf="!model.length" class="busket-mini__empty">
            <span>В Вашей корзине пусто</span>
        </div>
        <div class="busket-mini__tooltip" *ngIf="model.length">
            <div class="busket-mini__item row" *ngFor="let item of model">
                <div class="col-xs-5">
                    <img class="busket-mini__img" [src]="item.img">
                </div>
                <div class="col-xs-7 busket-mini__name">
                    <div class="busket-mini__info">{{item.name}}</div>
                    <div class="busket-mini__info">Колличество: {{item.count}}</div>
                    <div class="busket-mini__info">Цена: {{item.price * item.count}}</div>
                </div>
            </div>
            <button class="busket-mini__button" (click)="moveToBusket()">Оформить заказ</button>
        </div>
    </mat-menu>

</div>