@import "../../environments/variables";
.snackbar-success {
  margin-top: 48px !important;
  background-color: $green-success;
}

.snackbar-error {
  margin-top: 48px !important;
  background-color: $red-error;
}

.snackbar-like {
  margin-top: 48px !important;
  background-color: $like-blue;
}