.catalog-controller {
  .sorter {
    width: 100%;
  }

  .checkboxes {
    width: 100%;
  }

  .filter-title {
    padding: 0 0 12px 0;
    text-align: left;
    font-size: 1.6em;
    margin: 0;
  }

  .price-title {
    font-size: 1.05em;
  }

  .collection-title {
    font-size: 1.05em;
  }

  .slider-wrapper {
    margin-bottom: 30px;
  }

  .slider {
    width: 100%;
  }
}

.noUi-tooltip {
  bottom: -135% !important;
  border: none;
  padding: 0;
  &:focus {
    outline: 0;
  }
}

.noUi-handle {
  &:focus {
    outline: 0;
  }
}