﻿﻿<form [formGroup]="filterForm" class="catalog-controller">
    <p class="filter-title">Каталог</p>
    <mat-accordion multi="true">
        <mat-expansion-panel [expanded]="!isMobile">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Цена
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="slider-wrapper">
                <nouislider
                        class="slider"
                        [min]="minSlider"
                        [max]="maxSlider"
                        [step]="stepSlider"
                        [formControl]="filterForm.controls['slider']"
                        [tooltips]="[true, true]"
                        (change)="onFilterSubmit()">
                </nouislider>
            </div>
        </mat-expansion-panel>
        <mat-expansion-panel [expanded]="!isMobile">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Выбрать коллекцию
                </mat-panel-title>
            </mat-expansion-panel-header>
            <array-checkboxes
                    class="checkboxes"
                    [checkboxes]="collections"
                    [formControl]="filterForm.controls['collections']"
                    (change)="onFilterSubmit()">
            </array-checkboxes>
        </mat-expansion-panel>
        <mat-expansion-panel >
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Выбрать пол
                </mat-panel-title>
            </mat-expansion-panel-header>
            <array-checkboxes
                    class="checkboxes"
                    [checkboxes]="genders"
                    [formControl]="filterForm.controls['genders']"
                    (change)="onFilterSubmit()">
            </array-checkboxes>
        </mat-expansion-panel >
        <mat-expansion-panel >
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Выбрать упаковку
                </mat-panel-title>
            </mat-expansion-panel-header>
            <array-checkboxes
                    class="checkboxes"
                    [checkboxes]="packages"
                    [formControl]="filterForm.controls['packages']"
                    (change)="onFilterSubmit()">
            </array-checkboxes>
        </mat-expansion-panel >
        <mat-expansion-panel >
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Сортировка
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-form-field class="sorter">
                <mat-select [formControl]="filterForm.controls['sorter']" (selectionChange)="onFilterSubmit()" required>
                    <mat-option *ngFor="let s of sorter" [value]="s">
                        {{s.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </mat-expansion-panel>
    </mat-accordion>
</form>