<ul class="menu-item__list">
	<li *ngFor="let child of item.menuItems"
		[ngClass]="{'menu-item__body_state_disabled': child.disabled}"
		class="menu-item__item">
		<a (click)="onClick(child)"
		   class="menu-item__link"
		   [ngClass]="{'menu-item__link_state_current': child.isActive, 'pr_grid_1' : child.menuItems}"
		   routerLink="{{child.url}}">
			<span class="menu-item__link_text">{{child.name}}</span>

      		<!--<badge *ngIf="child.badge" [badge]="child.badge"></badge>-->
			<div *ngIf="child.menuItems" class="menu-item__icon">
				<div class="svg-icon svg-icon_big">
					<svg width="100%" height="100%" viewBox="0 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
						<defs></defs>
						<g id="Symbols" stroke="none" stroke-width="1"  fill="currentColor">
							<g id="icons/caret-right">
								<polygon id="shape" points="15 20 15 12 19 16"></polygon>
							</g>
						</g>
					</svg>
				</div>
			</div>
		</a>
		<menu-item [item]="child"></menu-item>
	</li>
</ul>
