.scroll-area {
  overflow-y: scroll;
  height: calc(100vh - 60px);
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
  padding-top: 24px;
}
.no-padding {
  padding: 0;
}

//.margin-top-content-xs {
//  margin-top: 12px;
//}
