<menu-wrapper [items]="menu"></menu-wrapper>

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 margin-top-content-xs no-padding  margin-top-xs">
    <router-outlet></router-outlet>
</div>
<social-bar></social-bar>


