﻿<div class="delivery-wrapper">
    <div class="delivery-wrapper__header">Доставка и оплата</div>
    <div class="row">
        <div class="col-xs-12 col-sm">
            <div class="delivery-wrapper__subheader">Оплата</div>
            <div class="delivery-wrapper__text">Оплата производится наличными или переводом на карту при получении
                заказа.
            </div>
        </div>
        <div class="col-xs-12 col-sm">
            <div class="delivery-wrapper__subheader"> Доставка</div>
            <div class="delivery-wrapper__text">Доставка осуществляется с 9 до 21 часов с понедельника по пятницу по
                согласованию во время оформления заказа в
                один из возможных временных интервалов (с 9 до 12, с 12 до 18, с 18 до 21).
            </div>

            <div class="delivery-wrapper__text"> Возможность доставки в выходные есть при предварительной
                договоренности!
            </div>
            <div class="delivery-wrapper__text"> Просьба сообщать о изменении адреса доставки за один день, либо звонить
                по нашему контактному номеру телефона. В противном случае, цена доставки может быть скорректирована.
            </div>
            <div class="delivery-wrapper__text">Самовывоз от станции метро Бульвар Дмитрия Донского – бесплатно!</div>
            <div class="delivery-wrapper__text"> Доставка на станцию метро – 350 руб.</div>
            <div class="delivery-wrapper__text"> Доставка в пределах МКАД – 300 руб.</div>
            <div class="delivery-wrapper__text"> Доставка за пределы МКАД (до 10 км) – 450 руб.</div>
            <div class="delivery-wrapper__text"> Доставка за пределы МКАД (свыше 10 км) – обсуждается индивидулаьно.
            </div>
        </div>
    </div>

</div>