.delivery-wrapper {
  padding: 24px;
  border-radius: 0;
  min-height: 83vh;
  box-sizing: border-box;
  background: white;
  box-shadow: 1px 0 0 0 #d2d2d2, -1px 0 0 0 #d2d2d2, 0 1px 0 0 #b6b6b6, 0 2px 0 0 #d2d2d2, 2px 0 0 0 #e6e6e6, -2px 0 0 0 #e6e6e6, 0 3px 0 0 #e6e6e6, 0 -1px 0 0 #e6e6e6;
  &__header {
    padding: 12px;
    border-bottom: 1px solid #d9d9d9;
    text-align: left;
    font-size: 1.6em;
  }
  &__subheader {
    margin-top: 12px;
    font-size: 1em;
    font-weight: 500;
  }
  &__text {
    margin-top: 6px;
    font-weight: 100;
    font-size: 0.9em;
  }
}
