.quick-view {
  transition: all 399ms;
  position: absolute;
  bottom: -50px;
  right: 0;
  left: 0;
  height: 50px;
  background: hsla(0,0%,100%,.75);
  cursor: pointer;
  opacity: 1;
  overflow: hidden;
  line-height: 45px;
  text-align: center;
  z-index: 5;
  &.open {
    bottom: 0;
  }
  button {
    width: 100%;
    height: 100%;
    border: none;
    background: transparent;
  }
}