<form class="row" [formGroup]="personalData">
        <mat-form-field class="col-sm-7 col-xs-12">
            <input maxlength="300" matInput placeholder="Имя" formControlName="name" required>
            <mat-error *ngIf="personalData.get('name')?.invalid">Укажите, пожалуйста, как вас зовут</mat-error>
        </mat-form-field>

        <mat-form-field class="col-sm-7 col-xs-12">
            <input maxlength="50" matInput placeholder="Номер телефона" formControlName="phone" required>
            <mat-error *ngIf="personalData.get('phone')?.invalid">Введите, пожалуйста, телефон</mat-error>
        </mat-form-field>
</form>