﻿<div class="col-xs-12 contacts-container">
    <div class="row center-xs">
        <div class="col-xs-10 col-sm-8 col-md-8 col-lg-6">
            <div class="row">
                <div class="col-xs-12 col-md-6 contacts-left">
                    <div class="row start-xs contacts-left-block time-work">
                       <div class="center-xs contacts-left-block__icon">
                           <mat-icon class="box contacts-left-box">alarm</mat-icon>
                       </div>
                        <div class="box contacts-left-box">
                            <h4 class="contacts-left-title">Часы работы</h4>
                            <div>Пн-вс с 8:00 - 23:00</div>
                        </div>
                    </div>
                    <div class="row start-xs contacts-left-block phone">
                        <div class="center-xs contacts-left-block__icon">
                            <mat-icon class="box contacts-left-box">phone</mat-icon>
                        </div>
                        <div class="box contacts-left-box">
                            <h4 class="contacts-left-title">Телефон для связи</h4>
                            <a href="tel:+79660054545">+7-966-005-45-45</a>
                            <div>
                                <a href="https://web.whatsapp.com/send?phone=79660054545">WhatsApp</a>
                                <a href="https://web.telegram.org/#/im?p=@ne_s_pustimi_rukami">Telegram</a>
                            </div>
                        </div>
                    </div>
                    <div class="row start-xs contacts-left-block mail">
                        <div class="center-xs contacts-left-block__icon">
                            <mat-icon class="box contacts-left-box">mail</mat-icon>
                        </div>
                        <div class="box contacts-left-box">
                            <h4 class="contacts-left-title">E-mail</h4>
                            <div>
                                <a href="mailto:nespustimirukami@gmail.com">nespustimirukami@gmail.com</a>
                            </div>
                        </div>
                    </div>
                    <div class="row start-xs contacts-left-block messengers">
                        <div class="center-xs contacts-left-block__icon">
                            <svg-icon type="logo-instagram"></svg-icon>
                        </div>
                        <div class="box contacts-left-box">
                            <h4 class="contacts-left-title">Instagram</h4>
                            <div>
                                <a href="https://www.instagram.com/ne_s_pustimi_rukami">ne_s_pustimi_rukami</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6 invisible-xs invisible-sm contacts-right">
                    <svg-icon type="logo-black-big"></svg-icon>
                </div>
            </div>
        </div>
    </div>
</div>
