@import '../../environments/variables';
.contacts-container {
  border-radius: 0;
  min-height: 83vh;
  box-sizing: border-box;
  background: white;
  padding: 70px 12px;
  box-shadow: 1px 0 0 0 #d2d2d2, -1px 0 0 0 #d2d2d2, 0 1px 0 0 #b6b6b6, 0 2px 0 0 #d2d2d2, 2px 0 0 0 #e6e6e6, -2px 0 0 0 #e6e6e6, 0 3px 0 0 #e6e6e6, 0 -1px 0 0 #e6e6e6;
  a {
    text-decoration: none;
    color: $blue-link;
    outline: none;
    &:hover {
      text-decoration: underline;
    }
  }
  .contacts-left {
    h4 {
      margin: 0;
      padding-bottom: 5px;
    }
    &-title {
      text-transform: uppercase;
    }
    &-box {
      padding: 5px;
    }
    &-block {
      padding: 10px;
      &__icon {
        width: 36px;
      }
    }
    .time-work {

    }
    .phone {

    }
    .mail {

    }
    .messengers {

    }
  }
}