﻿<div class="faq-wrapper">
    <div class="faq-wrapper__header">Вопросы</div>
    <mat-tab-group class="faq-wrapper__questions">
        <mat-tab label="Информация о компании">
            <div class="row faq-wrapper__text-block">
                <div class="col-sm col-xs-12">
                    <div class="faq-wrapper__text-header">Кто мы?</div>
                    <p class="faq-wrapper__text-block">
                        Наша компания называется "Не с пустыми руками". Мы занимаемся разработкой и созданием готовых
                        подарочных наборов для всех возможных праздников. Основные ценности нашей компании: стиль,
                        клиентоориентированность, креатив и пробработка всех мелочей.
                    </p>
                    <p class="faq-wrapper__text-block">
                        Наша основная задача, чтобы люди навсегда забыли вопрос: "что подарить?". Мы работаем, для того,
                        чтобы сэкономить вам максимальное колличество времени, и подарить искреннюю улыбку от хорошего
                        подарка Вашим близким!
                    </p>
                </div>
                <div class="col-sm col-xs-12">
                    <div class="faq-wrapper__text-header">Что мы предлагаем?</div>
                    <p class="faq-wrapper__text-block">
                        Мы предлагаем вам готовые варианты подарков для любого повода!
                        Также вы можете заказать свой собственный вариант подарка - например, вам понравилась баночка из
                        одного набора, колбочка из другого и т.д. Мы с радостью воплотим ваши пожелания!
                    </p>
                    <p class="faq-wrapper__text-block">
                        Радуйте своих родных и близких, а мы вам в этом поможем!
                    </p>
                </div>
                <div class="col-sm col-xs-12">
                    <div class="faq-wrapper__text-header">Почему именно мы?</div>
                    <p class="faq-wrapper__text-block">
                        Мы разработали стильные и лаконичные подарочные коробочки в деревянном и крафт исполнении, и со
                        вкусом наполняем их!</p>
                    <p class="faq-wrapper__text-block">
                        Мы экономим ваше время! Проведите его с близкими людьми, а мы позаботимся о подарке.</p>
                    <p class="faq-wrapper__text-block">
                        Работаем как с частными заказами, так и с корпоративными. Выбирайте готовые подарки или закажите
                        индивидуальные! Мы с радостью Вам поможем!</p>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="Параметры доставки">
            <div class="row faq-wrapper__text-block">
                <div class="col-sm col-xs-12">
                    <div class="faq-wrapper__text-header">Когда я получу свой заказ?</div>
                    <p class="faq-wrapper__text-block">
                        Период доставки — это примерный срок доставки подарка по указанному адресу доставки или до точки
                        самовывоза.
                        Этот период включает обработку на складе и время доставки товара перевозчиком.
                    </p>
                    <p class="faq-wrapper__text-block">
                        В процессе оформления заказа мы предоставим Вам дополнительную информацию о вариантах и
                        времени доставки. <a routerLink="/shipping-and-payment">Подробнее об отправке и доставке.</a>
                    </p>
                </div>
                <div class="col-sm col-xs-12">
                    <div class="faq-wrapper__text-header">Как отслеживать доставку?</div>
                    <p class="faq-wrapper__text-block">
                        После отправки товара вам придет уведомление по любому выбранному на этапе доставки мессенджеру
                        за 1 час.
                    </p>
                </div>
                <div class="col-sm col-xs-12">
                    <div class="faq-wrapper__text-header">Как успешно получить заказ с оплатой наличными или кредитной
                        картой при получении?
                    </div>
                    <p class="faq-wrapper__text-block">
                        Вы должны быть на месте для получения отправления в указанный день. Для оплаты потребуется
                        полная точная сумма. Сдача обговаривается при оформлении заказа.</p>
                    <p class="faq-wrapper__text-block">
                        Если вы оплатили заказ наличными или кредитной картой при получении, и подарок не соответсвует
                        Вашим ожиданиям, мы вернем Вам деньги.</p>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="Информация о заказе">
            <div class="row faq-wrapper__text-block">
                <div class="col-sm col-xs-12">
                    <div class="faq-wrapper__text-header">Как сделать заказ?
                    </div>
                    <p class="faq-wrapper__text-block">
                        Вы можете выбрать один из готовых вариантов подарочного набора, представленных на сайте. Любой
                        понравившийся набор можно заказать как в крафт упаковки, так и в дереве.
                        ​</p>
                    <p class="faq-wrapper__text-block">
                        Для заказа готового подарка вы можете оформить заказ через добавление товара в корзину,
                        позвонить нам, написать на почту или в любой удобный для вас мессенджер.</p>
                </div>
                <div class="col-sm col-xs-12">
                    <div class="faq-wrapper__text-header">Как сделать индивидуальный заказ?
                    </div>
                    <p class="faq-wrapper__text-block">
                        Если вам не подошли готовые варианты подарочных наборов, вы можете заказать индивидуальный набор
                        -
                        например, вам понравилась баночка из одного набора, колбочка из другого и т.д. Мы с радостью
                        соберем
                        ваш собственный вариант и рассчитаем его стоимость в течение 1 часа!
                        ​</p>
                    <p class="faq-wrapper__text-block">
                        Для индивидуального заказа вы можете позвонить нам, написать на почту или в любой удобный для
                        вас
                        мессенджер.</p>
                </div>
                <div class="col-sm col-xs-12">
                    <div class="faq-wrapper__text-header">В какие сроки?
                    </div>
                    <p class="faq-wrapper__text-block">
                        Мы просим вас делать заказ за 2-3 дня до праздничного события. Такой срок мы установили, чтобы не
                        подводить вас и выполнять ваши заказы точно в срок.
                        ​</p>
                    <p class="faq-wrapper__text-block">
                        Возможность заказа в более короткие сроки есть! Все зависит от наличия товаров. Если подарочный
                        набор есть в наличии или все компоненты (для индивидуального заказа), то возможна доставка в тот
                        же день. Но в любом случае, пожалуйста, предварительно уточняйте такую возможность у нашего
                        менеджера.</p>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="Оплата">
            <div class="row faq-wrapper__text-block">
                <div class="col-sm-4 col-xs-12">
                    <div class="faq-wrapper__text-header">Какие варианты оплаты?
                    </div>
                    <p class="faq-wrapper__text-block">
                        Вы можете оплатить при получении картой или наличными. Сдача обговаривается при оформлении
                        заказа.
                        ​</p>
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>