.faq-wrapper {
  padding: 12px;
  border-radius: 0;
  min-height: 83vh;
  box-sizing: border-box;
  background: white;
  box-shadow: 1px 0 0 0 #d2d2d2, -1px 0 0 0 #d2d2d2, 0 1px 0 0 #b6b6b6, 0 2px 0 0 #d2d2d2, 2px 0 0 0 #e6e6e6, -2px 0 0 0 #e6e6e6, 0 3px 0 0 #e6e6e6, 0 -1px 0 0 #e6e6e6;
  &__header {
    padding: 12px;
    border-bottom: 1px solid #d9d9d9;
    text-align: left;
    font-size: 1.6em;
  }
  &__questions {
    margin-top: 12px;
  }
  &__text-block:first-of-type {
    margin-top: 24px;
  }
  &__text-header {
    text-align: left;
    font-size: 1em;
    font-weight: 500;
  }
  &__text-block {
    text-align: left;
    font-size: 0.9em;
  }
}

.mat-tab-header {
  border: none;
}

.mat-tab-body-content {
  padding-right: 1rem;
  padding-left: 1rem;
}