@import "../../environments/variables";

svg-icon,
.svg-icon {
	/*box-sizing: border-box;
	display: inline-block;
	height: $base-gutter * 2;
	position: relative;
	width: $base-gutter * 2;
	* { vertical-align: top; }*/
	&_small {
		height: 10px;
		width: 10px;
	}
	&_big {
		height: $base-gutter * 4;
		width: $base-gutter * 4;
	}
}
:host { display:inline-block; }
