<div class="row reverse delivery">
    <div class="test-map col-xs-12 col-lg-6">
        <ya-map [latitude]="55.76" [longitude]="37.64" [zoom]="8">
            <ya-marker *ngFor="let point of points" [latitude]="point.lat" [longitude]="point.lng"
                       [balloonContentHeader]="point.balloonHeader">
            </ya-marker>
        </ya-map>
    </div>
    <form class="col-xs-12 col-lg-6" [formGroup]="addressInfo">
        <div class="row">
            <mat-form-field class=" date">
                <input matInput
                       maxlength="100"
                       [matDatepicker]="picker1"
                       [min]="minDatepicker"
                       required
                       placeholder="Дата доставки"
                       formControlName="date">
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker touchUi="true" #picker1></mat-datepicker>
                <mat-error *ngIf="addressInfo.get('date')?.invalid">Укажита, пожалуйста, дату доставка</mat-error>
            </mat-form-field>
            <mat-form-field class="col-xs-12 address">
                <input matInput maxlength="500" placeholder="Адрес доставки" required formControlName="address">
                <mat-error *ngIf="addressInfo.get('address')?.invalid">Укажита, пожалуйста, адрес доставка</mat-error>
                <mat-hint>Данные автоматически отобразятся на карте</mat-hint>
            </mat-form-field>
            <mat-radio-group class="col-xs-12 address-type" formControlName="placeType">
                <mat-radio-button value="home">Домашний адрес</mat-radio-button>
                <mat-radio-button value="job">Офисное здание</mat-radio-button>
            </mat-radio-group>
            <mat-form-field class="col-xs-12">
                <textarea matInput maxlength="500" placeholder="Дополнительная информация" formControlName="additional"></textarea>
            </mat-form-field>
        </div>
    </form>
</div>