.delivery{
  .address {
    margin-bottom: 24px;
  }
  .address-type {
    margin-bottom: 6px;
  }
  .date {
    margin-top: 20px;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .map-container-inner {
    border: 1px solid rgba(0,0,0,.42);
  }
}

@media only screen and (max-width: 46rem) and (min-width: 0rem) {
  .map-container-inner {
    width: 200px;
    height: 200px;
  }
}

@media only screen and (min-width: 46rem) and (max-width: 61rem) {
  .map-container-inner {
    width: 400px;
    height: 250px;
  }
}

@media only screen and (max-width: 71rem) and (min-width: 61rem) {
  .map-container-inner {
    width: 500px;
    height: 300px;
  }
}

@media only screen and (min-width: 71rem) {
  .map-container-inner {
    width: 400px;
    height: 300px;
  }
}