
// sizes
$base-gutter: 8px;

$size-xs: $base-gutter * 3;
$size-s: $base-gutter * 4;
$size-m: $base-gutter * 5;
$size-l: $base-gutter * 6;

//gold
$gold:       #C6AC73;

// gray
$black:      #000000;
$black-light-8: rgba(0,0,0,0.8);
$gray-apple: #f1f1f1;
$mine-shaft: #333333;
$dove-gray:  #474747;
$boulder:    #777777;
$silver:     #cccccc;
$alto:       #dddddd;
$concrete:   #f2f2f2;
$white:      #ffffff;

// green
$green-success: rgba(0, 185, 108, 0.7);
$firefly:   #0f3d3d;
$elm-2:     #165b5b;
$elm-1:     #1e7a7a;
$elm:       #269999; //base
$sindbad:   #a8d6d6;
$aqua-haze: #d3eaea;

// blue
$blue-link: #0070c9;
$elephant:      #143d51;
$blumine:       #1e5b7a;
$jelly-bean:    #287aa3;
$shakespeare:   #3399cc; //base
$regent-stblue: #add6ea;
$spindle:       #d6eaf4;

// orange
$sepia:         #663c13;
$desert:        #995b1c;
$ochre:         #cc7926;
$neon-carrot:   #ff9830; //base
$peach-orange:  #ffd5ac;
$karry:         #ffead5;

// red
$red-error: rgba(185, 0, 0, 0.7);
$cocoa-bean:    #5c2424;
$sanguine-brown:#8a3737;
$chestnut:      #b84949;
$sunglo:        #e65c5c; //base
$beauty-bush-1: #f5bdbd;
$beauty-bush-2: #fadede;

$hit: #a76afd;
$sale: #e32caa;
$empty: #37343a;
$like-blue: rgba(0, 188, 212, 0.9);
$like-icon-enable: #ed4956;