<div class="row center-xs header-info">
    <div class="col-xs-8">
        <div class="row header-info-inner">
            <div class="col-xs-4 contacts">
                <div class="row end-xs">
                    <div class="col-xs-12">
                        <div class="row">
                            <a class="contacts-phone" href="">+7(966)005 45 45</a>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="row">
                            <a class="contacts-mail" href="">nespustimirukami@gmail.com</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-4 logo">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="row center-xs logo-wrapper-icon">
                            <svg-icon type="logo-new"></svg-icon>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="row center-xs">
                            <div class="logo-wrapper-info">
                                <span>Подарочные наборы</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-4 callback">
                <div class="row end-xs">
                    <div class="box">
                        Обратный звонок
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>