.header-info {
  &-inner {
    padding: 20px 0 40px 0;
  }
  a {
    text-decoration: none;
    color: #2C2C2B;
    outline: none;
  }
}

.logo {
  &-wrapper-icon {

  }
  &-wrapper-info {
    width: 270px;
    border-top: 1px solid rgba(44, 44, 43, 1);
    padding-top: 10px;
    margin-top: 20px;
  }
}