.wrapper {
    box-shadow: 0 0 4px 0 #8e8e8e;
    border-radius: 15px;
    padding: 24px;
    color:  rgb(39, 40, 46);
    &-white {
        background: white;
    }
}
.header {
    font-size: 1.3em;
    text-align: center;
    border-bottom: 1px dotted #616060;
    padding-bottom: 12px;
    margin-bottom: 24px;
}
.field {
    display: block;
}
.button {
    background: #1240ab;
    color: white;
    border-radius: 0;
    border: 0;
    padding: 12px;
}
.button:hover {
    background: #134bcb;
}
.button[disabled] {
    background: rgba(144, 149, 179, 0.4588235294117647);;
}