<div class="wrapper">
    <div class="wrapper-white">
        <div class="header">Оставить заявку
        </div>
        <form (ngSubmit)="onSubmit(feedback)" [formGroup]="feedback">
            <mat-form-field class="field">
                <input matInput placeholder="Имя" formControlName="name">
                <mat-error *ngIf="feedback.get('name')?.invalid">Укажите пожалуйста, как вас зовут</mat-error>
            </mat-form-field>
            <mat-form-field class="field">
                <input matInput placeholder="Email" formControlName="email">
                <mat-error *ngIf="feedback.getError('notContact') && !feedback.untouched">Введите пожалуйста email или телефон</mat-error>
            </mat-form-field>
            <mat-form-field class="field">
                <input matInput placeholder="Номер телефона" formControlName="phone">
                <mat-error *ngIf="feedback.getError('notContact') && !feedback.untouched">Введите пожалуйста email или телефон</mat-error>
            </mat-form-field>
            <mat-form-field class="field">
                <textarea matInput placeholder="Сообщение" formControlName="message"></textarea>
            </mat-form-field>
            <button class="button" mat-button type="submit" [disabled]="feedback.invalid || feedback.hasError('notContact')">Отправить >></button>
        </form>
    </div>
</div>