.next-button {
  margin-top: 24px;
  font-size: 1em;
  padding: 12px 24px;
  background: #000189;
  color: white;
  background-color: #0067b9;
  background: -webkit-linear-gradient(#3d94d9,#0067b9);
  background: linear-gradient(#3d94d9,#0067b9);
  border-color: #006dbc;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline: 0;
  &_disabled {
    opacity: 0.1;
  }
}

.next-button:hover {
  background-color: rgba(0, 103, 185, 0.82);
  background: -webkit-linear-gradient(#3d94d9,rgba(0, 103, 185, 0.82));
  background: linear-gradient(#3d94d9, rgba(0, 103, 185, 0.82));
  border-color: #006dbc;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline: 0;
}

.wrapper {
  border-radius: 4px;
  background: white;
  box-shadow: 1px 0 0 0 #d2d2d2, -1px 0 0 0 #d2d2d2, 0 1px 0 0 #b6b6b6, 0 2px 0 0 #d2d2d2, 2px 0 0 0 #e6e6e6, -2px 0 0 0 #e6e6e6, 0 3px 0 0 #e6e6e6, 0 -1px 0 0 #e6e6e6;
}
