<div class="wrapper">
    <un-preloader *ngIf="isStateLoading()"></un-preloader>
    <div class="row center-xs">
        <mat-progress-bar class="col-xs-6" mode="determinate" value="{{getProgressValue()}}"></mat-progress-bar>
    </div>

    <mat-vertical-stepper [linear]="true">
        <mat-step [stepControl]="busketPostService.getProductFB()">
            <ng-template matStepLabel>Корзина ({{busketPostService.getPurchaseLength()}})</ng-template>
            <product></product>
            <button class="next-button {{!busketPostService.getPurchaseLength() && 'next-button_disabled'}}" mat-button matStepperNext (click)="doFirstStep()">Перейти к оформлению</button>
        </mat-step>

        <mat-step [stepControl]="busketPostService.getPersonalDataFB()">
            <ng-template matStepLabel>Персональные данные</ng-template>
            <person></person>
            <button class="next-button" mat-button matStepperNext (click)="doSecondStep()">Доставка</button>
        </mat-step>

        <mat-step [stepControl]="busketPostService.getAddressInfoFB()">
            <ng-template matStepLabel>Доставка</ng-template>
            <delivery></delivery>
            <button class="next-button" [disabled]="isStateLoading()" [ngClass]="{'next-button_disabled' : isStateLoading()}" matStepperNext (click)="buy()">Купить</button>
        </mat-step>
    </mat-vertical-stepper>
</div>

