<div>
    <div class="row header invisible-xs">
        <div class="col-sm-3">
            <b>Товар</b>
        </div>
        <div class="col-sm-5">
            <b>Описание</b>
        </div>
        <div class="col-sm-4">
            <b>Количество</b>
        </div>
    </div>
    <div class="product-item" *ngFor="let purchase of purchases">
        <div class="row line">
            <div class="col-sm-3 col-xs-12 image-column">
                <img class="product-img" [src]="purchase.img.small.img">
            </div>
            <div class="col-sm-5 col-xs-12 text-column">
                <div class="text-column__name">{{purchase.name}}</div>
                <div class="text-column__price">Цена: {{purchase.price}} руб.</div>
            </div>
            <div class="col-sm-4 col-xs-12 count-column">
                <span class="inc" (click)="increment(purchase.count - 1, purchase.id)">–</span>
                <input type="number" class="count-input" value="{{purchase.count}}" min="1"
                                        (input)="onChangeCount($event.target.value, purchase.id)">
                <span class="inc" (click)="increment(purchase.count + 1, purchase.id)">+</span>
            </div>
        </div>
        <div class="column-result">Итого: {{purchase.count * purchase.price}} руб</div>
        <div class="column-delete" (click)="cutFromBusket(purchase.id)">Удалить из корзины</div>

    </div>

</div>
<div class="row reverse">
    <div class="col-xs">
    </div>
    <div class="col-xs result-price">Сумма к оплате: <span>{{resultPrice}} руб</span></div>
</div>