.product-img {
  width: 150px;
}

.header {
  padding: 12px;
  margin-bottom: 24px;
  border-bottom: 1px solid #cccccc7d;
}

.text-column__name {
  font-size: 24px;
  margin-top: 12px;
}
.text-column__price {
  margin-top: 6px;
  font-size: 0.9em;
}
.count-input{
  width: 32px;
  margin-top: 12px;
  padding: 6px;
}
.column-result {
  margin-top: 12px;
  font-size: 0.9em;
}
.column-delete {
  cursor: pointer;
  font-size: 0.6em;
  color: #00008a;
  text-decoration: underline;
}

.product-item {
  margin-bottom: 24px;
  padding-bottom: 12px;
  border-bottom: 1px solid #ccc;
}
.result-price {
  font-size: 0.9em;
}
.inc{
  font-size: 1.2em;
  color: #9e4a4a;
  cursor: pointer;
  padding-right: 2px;
  padding-left: 2px;
}