@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '../node_modules/flexboxgrid/vendor/css/normalize.css';
@import '../node_modules/flexboxgrid/css/flexboxgrid.min.css';
@import '../src/app/environments/mixins';
@import '../src/app/environments/variables-extend';
@import '../src/app/environments/variables';
@import '../src/app/environments/flexiblegs-scss';
@import '../src/app/modules/snackbar/un-snack-bar.component';
@import "~nouislider/distribute/nouislider.min.css";
@import '~@angular/material/theming';
@import url('./fonts/sf-webfont.css');

body {
    font-family: 'San Francisco', sans-serif;
    font-weight: 400;
    background: $gray-apple;
    color: rgb(51, 51, 51)!important;
}

mark.is-extra {
    background-color: #F8E71C;
    padding: 0;
}
.margin-top-xs {
    margin-top: 12px;
}

@media only screen and (max-width: 46rem) and (min-width: 0rem) {
    .margin-top-xs {
        margin-top: 70px;
    }

    .invisible-xs {
        display: none !important;
        visibility: hidden !important;
    }
    .company-info__wrapper {

    }
    .catalog-item-modal {
        padding: 0 !important;
        & .mat-dialog-container {
            padding: 30px 0px;
        }
    }
}

@media only screen and (min-width: 46rem) and (max-width: 61rem) {
    .margin-top-sm {
        margin-top: 80px;
    }
    .invisible-sm {
        display: none !important;
        visibility: hidden !important;
    }
}

@media only screen and (max-width: 71rem) and (min-width: 61rem) {
    .invisible-md {
        display: none !important;
        visibility: hidden !important;
    }
}

@media only screen and (min-width: 71rem) {
    .invisible-lg {
        display: none !important;
        visibility: hidden !important;
    }
}