<div class="col-xs-12 social-bar">
    <div class="row right-reserved">
        <div class="col-xs-6">
            <span>
                © 2017 Компания «Не с пустыми руками»
            </span>
        </div>
        <div class="col-xs-6">
            <div class="col-xs-12">
                <div class="row end-xs">
                    <div class="box social-bar-box">
                        <a href="https://www.instagram.com/ne_s_pustimi_rukami/">
                            <svg-icon type="instagram-circle"></svg-icon>
                        </a>
                    </div>
                    <div class="box social-bar-box">
                        <a href="https://web.telegram.org/#/im?p=@ne_s_pustimi_rukami">
                            <svg-icon type="telegram-circle"></svg-icon>
                        </a>
                    </div>
                    <div class="box social-bar-box">
                        <a href="https://web.whatsapp.com/send?phone=79660054545">
                            <svg-icon type="whatsapp-circle"></svg-icon>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>