@import "../../environments/variables";

.empty-area {
	align-items: center;
	background-color: transparent;
	color: $boulder;
	display: flex;
	flex-direction: column;
	font-size: 16px;
	font-weight: 600;
	height: 100%;
	justify-content: center;
	left: 0;
	position: absolute;
	text-align: center;
	top: 0;
	width: 100%;
	&__icon { 
		height: $base-gutter * 12;
		margin-bottom: $base-gutter;
		margin-top: -$base-gutter * 13;
		opacity: .2;
		position: relative;
		width: $base-gutter * 12;
	}
	&__info { 
		text-align: center;
		& > * {
			display: block;
			margin: $base-gutter * 3 auto;
		}
	}
	&-local {
		background-color: transparent;
		height: 100%;
		position: relative;
	}
}
