<div class="menu-all-wrapper">
    <div class="col-xs-12 invisible-xs">
        <div class="row center-xs menu-row-wrapper">
            <div class="row between-xs menu">
                <a href="/catalog" class="box menu-box">
                    <svg-icon class="menu-box__logo-icon" type="logo-white"></svg-icon>
                </a>
                <div *ngFor="let item of items"
                     [ngClass]="{'is-disabled': item.disabled}"
                     class="box menu-box"
                >
                    <a (click)="onClick(item)"
                       *ngIf="!item.isUnavailable"
                       [ngClass]="{'is-active': item.isActive}"
                       class="link"
                       [routerLink]="item.url"
                    >
                        <div class="link__title">{{item.name}}</div>
                    </a>
                    <!--<menu-item [item]="item"></menu-item>-->
                </div>
                <busket-mini class="menu-box"></busket-mini>
            </div>
        </div>
    </div>
    <div class="invisible-sm invisible-md invisible-lg menu-slide">
        <div class="toolbar-button menuicon-label" (click)="breadToggle();" [ngClass]="{'open-burger': isOpenBread}">
				<span class="menuicon-bread menuicon-bread-top">
					<span class="menuicon-bread-crust menuicon-bread-crust-top">

					</span>
				</span>
            <span class="menuicon-bread menuicon-bread-bottom">
					<span class="menuicon-bread-crust menuicon-bread-crust-bottom">

					</span>
				</span>
        </div>
        <busket-mini (click)="clickOnBusketMobile()" class="menu-box-mobile"></busket-mini>
    </div>
    <div class="invisible-sm invisible-md invisible-lg menu-content-xs" [ngClass]="{'menu-content-xs_show': isOpenBread}">
        <div class="menu-xs">
            <div *ngFor="let item of items"
                 [ngClass]="{'is-disabled': item.disabled}"
                 class="box menu-xs-box"
            >
                <a (click)="onClick(item);"
                   *ngIf="!item.isUnavailable"
                   [ngClass]="{'is-active': item.isActive}"
                   class="link"
                   [routerLink]="item.url"
                >
                    <div class="link__title">{{item.name}}</div>
                </a>
            </div>
        </div>
    </div>
</div>