.catalog-list-container {
  //border-radius: 4px;
  min-height:100vh;
  background: white;
  box-shadow: 1px 0 0 0 #d2d2d2, -1px 0 0 0 #d2d2d2, 0 1px 0 0 #b6b6b6, 0 2px 0 0 #d2d2d2, 2px 0 0 0 #e6e6e6, -2px 0 0 0 #e6e6e6, 0 3px 0 0 #e6e6e6, 0 -1px 0 0 #e6e6e6;
}

.company-info {
  text-align: center;
  padding: 24px 1rem;
  background: white;
  box-shadow: 1px 0 0 0 #d2d2d2, -1px 0 0 0 #d2d2d2, 0 1px 0 0 #b6b6b6, 0 2px 0 0 #d2d2d2, 2px 0 0 0 #e6e6e6, -2px 0 0 0 #e6e6e6, 0 3px 0 0 #e6e6e6, 0 -1px 0 0 #e6e6e6;
  // added
  height: 70vh;
  border-radius: 0;
  background: url(http://nespustimirukami.ru/images/header/header.jpg);
  background-size: cover;
  background-position: bottom;
  margin-bottom: 24px;
  &__title {
    line-height: 1.07143;
    letter-spacing: -.005em;
    font-size: 1.6em;
    font-weight: 300;
    padding-bottom: 4px;
    border-bottom: 1px solid;
  }
  &__text {
    font-weight: 100;
    margin-top: 12px;
    &:first-of-type {
      margin-top: 22px;
    }
  }
  &__wrapper {
    background: rgba(254, 254, 254, 0.8);
    padding: 36px;
    text-align: left;
    margin-right: 12px;
  }
  &__number {
    color: green;
    font-weight: 600;
  }
}

.no-padding {
  padding: 0;
}

@media only screen and (max-width: 46rem) and (min-width: 0rem) {

  .company-info__wrapper {
    margin-right: 0;
    padding: 24px;
  }
}