﻿<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding">
    <div class="company-info">
        <div class="row center-xs end-sm" *ngIf="$model | async as model">
            <div class="col-xs-11 col-sm-5 company-info__wrapper">
                <div class="company-info__title">Не с пустыми руками</div>
                <div class="company-info__text">Креативные подарочные наборы для любого повода, в том числе на заказ</div>
                <div class="company-info__text">Вместе с Вами на сайте: <span class="company-info__number">{{model.peopleCount}}</span> покупателей</div>
                <div class="company-info__text">Сегодня купили: <span class="company-info__number">{{model.purchasesCount}}</span> наборов</div>
            </div>

        </div>
    </div>

</div>

<div class="col-xs-12 catalog-list-container">
    <catalog-list></catalog-list>
</div>