﻿<un-preloader *ngIf="isStateLoading()"></un-preloader>
<div class="row reverse start-xs" *ngIf="model$ | async as model">
    <catalog-filter class="col-xs-12 col-sm-4 col-md-4 col-lg-3"
                    (filterFormSubmit)="onFilterChange($event)"
                    [minSlider]="model.minSlider"
                    [maxSlider]="model.maxSlider">
    </catalog-filter>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-9 catalog-list-item-container">
        <empty-area [relative]="true" *ngIf="!model.list.length" [textOnly]="true">Нет товаров, соответствующих вашим критериям. Попробуйте расширить критерии поиска.</empty-area>
        <div class="row">
            <catalog-list-item
                    class="col-xs-12 col-sm-6 col-md-6 col-lg-4 catalog-list-item-wrapper"
                    *ngFor="let item of model.list"
                    [modalGiftId]="model.modalGiftId"
                    [item]="item">
            </catalog-list-item>
        </div>
    </div>
</div>
