@import '../../../../environments/variables';

.catalog-list-item {

  &.disabled {
    opacity: 0.3;
    pointer-events: none;
    position: relative;
  }

  &-shadow {
    border: 16px solid transparent;
    border-radius: 20px;
    &:hover {
      border: 16px solid rgba(0, 0, 0, 0.2);
      border-radius: 20px;
    }
  }
  &:hover {
    //cursor: pointer;
  }
  .line {
    hr {
      border: 1px solid $black;
      border-top-width: 0;
      border-left-width: 0;
      border-right-width: 0;
    }
  }
  .ribbon {
    background: rgba(198, 172, 115, 0.7);
    position: absolute;
    top: -3px;
    left: -2px;
    font-size: 16px;
    padding: 5px 10px;
    overflow: hidden;
    max-width: 80%;
    box-shadow: -1px 1px 1px 0px #b6b6b6;
    color: #fff;
    display: inline-block;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    z-index: 1;
    &:not(:first-of-type) {
      margin-top: 32px;
    }
  }
  .name {
    //padding: 10px 0;
    font-weight: 300;
    font-size: 1em;
  }
  .img-wrapper {
    cursor: pointer;
    &-shadow {
      box-shadow: inset 0 0 10px 1px rgba(0, 0, 0, 0.4);
      position: relative;
      overflow: hidden;
      img {
        position: relative;
        width: 100%;
        outline: 1px solid rgba(0, 0, 0, 0.2);
        display: block;
      }
    }
    padding: 0;
    position: relative;
    //overflow: hidden;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    &-box {
      padding: 6px;
    }
  }
  .price {
    letter-spacing: .015em;
    font-weight: 100;
    font-size: .9em;
    .price-current {
      padding: 0;
    }
    .price-old {
      padding: 0;
      font-weight: 400;
      span {
        position: relative;
        &:before {
          border-bottom: 3px solid red;
          position: absolute;
          content: "";
          width: 100%;
          height: 50%;
          transform: rotate(-7deg);
        }
      }
    }

  }
  .hit {
    background: $hit;
  }
  .sale {
    background: $sale;
  }
  .empty {
    background: $empty;
  }
}

.social {
  &__text {
    font-size: 0.8em;
  }
  &__left {

  }
  &__right {
    color: $silver;
    &-icon {
      font-size: 1.2em;
    }
  }
}

.icon-like {
  cursor: pointer;
  &_active {
    color: $like-icon-enable;
  }

}
