﻿<div class="catalog-list-item"
     [ngClass]="{'disabled': item.disabled}"
     (mouseenter)="onEnter()"
     (mouseleave)="onLeave()">
    <div class="catalog-list-item-shadow">
        <div class="col-xs-12 img-wrapper" (click)="openDialog()">
            <div class="ribbon"
                 *ngFor="let mode of item.social.modes"
                 [ngClass]="getRibbonClass(mode)">
                {{getRibbonName(mode)}}
            </div>
            <div class="box img-wrapper-box">
                <div class="img-wrapper-shadow">
                    <quick-view [open]="open"></quick-view>
                    <img [src]="item.img.small.img | safeImg">
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="row">
            <div class="col-xs-12">
                <div class="col-xs-12">
                    <div class="row">
                        <div class="col-xs-4 social__left">
                            <mat-icon class="icon-like icon-like_active"  *ngIf="isLiked()">favorite</mat-icon>
                            <mat-icon class="icon-like" (click)="setLike($event)" *ngIf="!isLiked()">favorite_border</mat-icon>
                            <span class="social__text">{{item.social.like}}</span>
                        </div>
                        <div class="col-xs-8 end-xs social__right">
                            <mat-icon class="social__right-icon">visibility</mat-icon> <span class="social__text">{{item.social.view}}</span>
                            <mat-icon class="social__right-icon">shopping_cart</mat-icon> <span class="social__text">{{item.social.purchases}}</span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-xs-12 name">
            <div class="col-xs-12 center-xs">
                <span>{{item.name}}</span>
            </div>
        </div>
        <div class="row line">
            <hr class="col-xs-2 center-xs">
        </div>
        <div class="row reverse price" *ngIf="item.priceOld">
            <div class="col-xs-6 center-xs price-old">
                <span>{{item.priceOld}} руб.</span>
            </div>
            <div class="col-xs-6 center-xs price-current">
                <span>{{item.priceCurrent}} руб.</span>
            </div>
        </div>
        <div class="row price" *ngIf="!item.priceOld">
            <div class="col-xs-12 center-xs price-current">
                <span>{{item.priceCurrent}} руб.</span>
            </div>
        </div>
    </div>
</div>
